<h1>Pages#companies_list</h1>
<p>Here are list of companies</p>

<table>
  <tr>
    <th>#</th>
    <th>Company</th>
    <th>rating</th>
    <th>rank</th>
    <th>  <button type="button">View</button> </th>
  </tr>
</table>



